.cta {
  padding: 40px;
  height: 55vh;
}
.cta .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.cta .bottom {
  display: flex;
  justify-content: space-between;
}

.cta .top img {
  width: 80px;
  height: 60px;
}
.cta .bottom img {
  width: 140px;
  height: 80px;
}

.cta .top p,
.cta .top a {
  font-size: 16px;
  text-align: center;
}

a {
  color: #f6b228;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.downloadBtns {
  display: flex;
  gap: 10px;
}

.appBtn {
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #000;
  color: #fff;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 8px;
  height: 60px;
}

.appBtn svg {
  margin-right: 8px;
  height: 40px;
  width: 40px;
  color: #fff;
}

.appBtnTxt p {
  margin: 0;
  font-size: 14px;
}

.appBtnTxt .appBtnTitle {
  font-size: 20px;
}
.socialIcons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.socialIcon {
  display: flex;
  gap: 10px;
}

.socialIcon svg {
  height: 60px;
  width: 60px;
  color: #fff;
  background-color: #ea2a2f;
  padding: 10px;
}

.app h4,
.socialIcons h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
}

/* Mobile styles */
@media (max-width: 768px) {
  
  .app {
    align-items: center;
  }
  .socialIcons {
    align-items: center;
  }
  .bottom {
    flex-direction: column;
    gap: 20px;
  }
  .cta {
    height: auto;
    align-items: center;
    flex-direction: column;
  }

  .cta .top img {
    width: 80px;
    height: 60px;
  }

  .cta .top p,
  .cta .top a {
    font-size: 12px;
  }

  .cta .bottom img {
    width: 140px;
    height: auto;
  }
}
