<div class="col-12 cta">
  <div class="top">
    <img
      src="../../../assets/Lipanauli/Lipa-Nauli-Website-GREEN-HAND.png"
      alt="Local bus commuting in Nairobi"
    />
    <p>Travel environmentally friendly</p>
    <p>
      Our efficient coaches are proven to have an excellent carbon footprint per
      driven passenger-kilometer.
    </p>
     <a href="#">Bus travel and environment > </a>
  </div>
  <div class="bottom">
    <img
      src="../../../assets/Lipanauli/Professional drivers Nairobi.png"
      alt=""
    />
    <img src="../../../assets/Lipanauli/Lipanauli discounts.png" alt="" />
  </div>
</div>
