.footer {
  background-color: #293a43;
  height: 100px;
  width: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .left {
  flex: 1;
  display: flex;
  align-items: center;
}
.footer .left img {
 height: 40px;
 width: 100px;
}
.footer .right {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.footer .right p {
  color: #fff;
}
