.footer {
  background-color: #293a43;
  height: 100px;
  width: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .left {
  flex: 1;
  display: flex;
  align-items: center;
}
.footer .left img {
  height: 50px;
  width: 150px;
}
.footer .right {
  flex: 2;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.footer .right p {
  color: #fff;
}
@media (max-width: 768px) {
  .footer {
    padding: 20px;
    flex-direction: column;
    height: auto;
    align-items: flex-start;
  }

  .footer .left {
    margin-bottom: 15px;
  }

  .footer .right {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .footer .left img {
    height: 30px;
    width: auto;
  }
}
