<!-- Passenger Detail Modal -->
<div
  class="modal modal-fullscreen"
  id="customerDetailsModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel4"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content slide-in-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel4">Passenger Details</h5>
        <button
          (click)="closeCustomerdetailsModal()"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [formGroup]="passengerForm" (ngSubmit)="tripReview()">
        <div class="modal-body" style="padding: 20px">
          <div class="mb-3">
            <div class="contact-detail" style="padding-bottom: 10px">
              <label for="email" class="form-label">Contact Detail</label>
              <input
                style="width: 100%"
                type="text"
                class="form-control"
                formControlName="email"
                placeholder="Email"
              />
            </div>

            <div style="display: flex; justify-content: space-between">
              <label for="">Primary Passenger</label>
            </div>
            <div
              class="input-group inlineInput mb-3"
              style="padding-bottom: 10px; display: flex; gap: 10px"
            >
              <input
                style="width: 40%"
                type="text"
                class="form-control"
                formControlName="firstName"
                placeholder="First Name"
              />
              <input
                style="width: 40%"
                type="text"
                class="form-control"
                formControlName="lastName"
                placeholder="Last Name"
              />
            </div>

            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;
              "
            >
              <p>Add passenger information</p>
              <button class="addBtn" type="button" (click)="addPassenger()">Add</button>
            </div>

            <div
              class="input-group inlineInput mb-3"
              *ngFor="let passenger of passengersArray.controls; let i = index"
              [formGroupName]="i"
              style="display: flex; align-items: center; gap: 10px"
            >
              <input
                style="flex: 1"
                type="text"
                class="form-control"
                formControlName="name"
                placeholder="Name"
              />
              <input
                style="flex: 1"
                type="text"
                class="form-control"
                formControlName="phone"
                placeholder="Phone"
              />
              <button type="button" (click)="removePassenger(i)">Remove</button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <p>Total Price: {{ totalPrice | currency }}</p>
          <button type="submit" class="payBtn">Proceed To Pay</button>
        </div>
      </form>
    </div>
  </div>
</div>
