/* .lipanauliapp{
    background: url("../../../assets/Lipanauli webtools 2024/Nairobi fare prices.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    width: 100%;
} */
.lipanauliapp-btn{
    height: 70px;
    width: 70px;
}