<div class="container-fluid hero-section" style="padding: 0">
  <div class="row hero">
    <div class="col-6 form-card">
      <h1 class="header"><span>Fare</span> ya kisure</h1>
      <div class="card">
        <div class="card-body">
          <form [formGroup]="tripForm">
            <div class="input-item">
              <div class="me-2">
                <label for="from" class="form-label">From</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="From"
                  formControlName="from"
                  list="datalistOptions"
                  (change)="selectedCity($any($event.target).value)"
                />
                <datalist id="datalistOptions">
                  <option
                    *ngFor="let suggestion of sourceCities"
                    [value]="suggestion.city_name"
                  ></option>
                </datalist>
              </div>
              <div>
                <label for="to" class="form-label">To</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="To"
                  formControlName="to"
                  list="destinationCities"
                />
                <datalist id="destinationCities">
                  <option
                    *ngFor="let suggestion of destinationCities"
                    [value]="suggestion.city_name"
                  ></option>
                </datalist>
              </div>
            </div>
            <div class="input-item">
              <div class="me-2">
                <label for="departure" class="form-label">Departure</label>
                <input
                  type="date"
                  class="form-control"
                  formControlName="departure"
                />
              </div>
              <div>
                <label for="passengers" class="form-label"
                  >Passengers/ luggage</label
                >
                <input
                  type="text"
                  class="form-control"
                  formControlName="passengers"
                  placeholder="1 Adult, 0 Baggage"
                />
              </div>
            </div>
            <div class="bookBtns">
              <button (click)="bookTrip()" type="button" class="search">
                Search
              </button>

              <button (click)="payNowTrip()" type="button" class="paynow">
                Pay Now
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-6 right" style="padding: 0">
      <img
        src="../../../assets/Lipanauli webtools 2024/Reliable bus service Nairobi.png"
        alt=""
      />
    </div>
  </div>
  <div class="row">
    <app-lipanaulislider></app-lipanaulislider>
  </div>
  <div class="row">
    <app-lipanauliapp></app-lipanauliapp>
  </div>
  <div class="row">
    <app-cta></app-cta>
  </div>
  <div class="row">
    <app-footer></app-footer>
  </div>
</div>
<app-paynowmodal></app-paynowmodal>
<app-buslistmodal></app-buslistmodal>
<app-customerdetailsmodal></app-customerdetailsmodal>
<app-pay-for-ticketmodal></app-pay-for-ticketmodal>
