@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
.hero .nav-section {
  position: absolute;
  right: 24%;
  top: 24px;
  z-index: 1;
}
.hero .nav-section ul {
  position: absolute;
  left: 30%;
  top: -10px;
  z-index: 1;
}
.hero .nav-section ul li {
  background-color: #739b5b;
  color: #fff;
  padding: 8px 15px;
  cursor: pointer;
}
.hero .nav-section .login {
  position: absolute;
  left: 60%;
  top: -10px;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.hero .nav-section .login {
  font-size: 14px;
  font-weight: 500;
}
.hero .nav-section .login p {
  font-size: 13px;
}
.hero .nav-section .login p svg {
  height: 40px;
  width: 40px;
  color: #ccc;
}
.hero .nav-section .login img {
  width: 100px;
  height: 40px;
}
.hero .nav-section .social-icons {
  position: absolute;
  right: 20px;
  top: -10px;
  z-index: 1;
}
.hero .nav-section .social-icons p {
  font-size: 13px;
  font-weight: 700;
}
.hero .nav-section .social-icons .img {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.hero .nav-section .social-icons .img svg {
  width: 20px;
  height: 20px;
  color: #739b5b;
}
.hero {
  /* background: url("../../../assets/Lipanauli/Affordable bus service Nairobi.png"); */
  background: url("../../../assets/Lipanauli/Bus routes Nairobi.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: space-between;

  padding: 0px;
  margin: 0px;
}
.hero img {
  height: 40vh;
  width: 100%;
}
.header {
  color: #293a43;
  font-size: 48px;
  text-transform: uppercase;
  padding: 10px 0px;

  font-family: "Nunito", sans-serif;

  font-weight: 900;
  font-style: normal;
}
.header span {
  color: #f6b228;
}
.form-card {
  padding-left: 100px;
  display: flex;
  flex-direction: column;
}
.form-card .card {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
}
.hero .form-card .phone-cta {
  font-size: 14px;
  background-color: #293a43;
  border-radius: 25px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
.hero .form-card .phone-cta svg {
  background-color: #739b5b;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  padding: 5px;
}
.input-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-bottom: 20px;
}
input {
  width: 200px;
}

.bookBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.search {
  border: none;
  outline: none;
  background-color: #f6b228;
  color: #fff;
  width: 100px;
  padding: 7px;
}
.paynow {
  border: none;
  outline: none;
  background-color: #739b5b;
  color: #fff;
  width: 100px;
  padding: 7px;
}
.right {
  height: 100%;
  width: 100%;
}
.right img {
  height: 100vh;
  width: 100%;
}
.suggestions-list {
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  position: absolute;
  max-height: 150px;
  overflow-y: auto;
  display: block;
  z-index: 1000;
}
.suggestion-item {
  padding: 8px;
  cursor: pointer;
}
.suggestion-item:hover {
  background-color: #f0f0f0;
}
.mobile-menu {
  position: absolute;
  top: 60px; /* Adjust based on your layout */
  right: 0;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
}

.mobile-menu ul li {
  padding: 10px 20px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.mobile-menu ul li:hover {
  background-color: #f0f0f0;
}
.mobile-menu-button {
  display: none; /* Show mobile menu button on mobile */
}

@media (max-width: 475px) {
  .form-card {
    padding-left: 15px;
  }
  .form-card img {
    display: none;
  }
  .hero {
    margin-bottom: 60px;
  }
  .nav-section {
    display: none;
  }
  input {
    width: 150px;
  }
  .mobile-menu-button {
    display: block;
    background: #fff;
    padding: 10px;
  }

  .mobile-menu-button > span {
    display: inline-block;
  }

  .mobile-menu-button {
    display: flex;
    justify-content: space-between;
  }

  .nav-section {
    display: none; /* Hide desktop menu */
  }
}
