<div class="container-fluid hero-section" style="padding: 0;">
  <div class="row hero">
    <div class="col-6 form-card">
      <h1 class="header"><span>Fare</span> ya kisure</h1>
      <div class="card">
        <div class="card-body">
          <div class="input-item">
            <div class="me-2">
              <label for="from" class="form-label">From</label>
              <input
                type="text"
                class="form-control"
                id="from"
                placeholder="Nairobi"
              />
            </div>
            <div>
              <label for="to" class="form-label">To</label>
              <input
                type="text"
                class="form-control"
                id="to"
                placeholder="Juja"
              />
            </div>
          </div>
          <div class="input-item">
            <div class="me-2">
              <label for="from" class="form-label">Departure</label>
              <input type="date" class="form-control" id="from" />
            </div>
            <div>
              <label for="to" class="form-label">Passengers/ luggage</label>
              <input
                type="text"
                class="form-control"
                id="passengers"
                placeholder="1 Adult, 0 Baggage"
              />
            </div>
          </div>
          <div class="bookBtns">
            <button class="search">Search</button>
            <button class="paynow">Pay Now</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 right" style="padding: 0;">
      <img
        src="../../../assets/Lipanauli webtools 2024/Reliable bus service Nairobi.png"
        alt=""
      />
    </div>
  </div>
</div>

<app-lipanaulislider></app-lipanaulislider>
<!-- <app-lipanauliapp></app-lipanauliapp> -->
<app-footer></app-footer>
